<h1>{{title}}</h1>
<p>{{title}}</p>
{{#books}}
  <article class="book" style="background: url('{{book_image}}') no-repeat; background-size:cover; background-color:black">
      <h2>{{title}}</h2
      <p>
        by <strong>{{author}}</strong>
      </p>
  </article>
{{/books}}
